<!DOCTYPE html>
<html>
<head>
	<title>宿舍管理系统</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../public/css/bootstrap-table.css">
	<link rel="stylesheet" type="text/css" href="../public/css/common.css">
	<link rel="stylesheet" type="text/css" href="../public/css/managerRole.css">
</head>
<body>
	<!-- 导航及页头 -->
	<div class="page-header navDiv">
	  	<h1>宿舍管理系统</h1>
	  	<span class="showUser"><a href="../" id="exit"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> 退出</a></span>
		<ul class="nav nav-tabs" role="tablist">
		  <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
		  	data-toggle="tab">首页</a></li>
		  <li role="presentation"><a href="#publish" aria-controls="publish" role="tab" data-toggle="tab">发布通知</a></li>
		  <li role="presentation"><a href="#visit" aria-controls="visit" role="tab" data-toggle="tab">来访登记</a></li>
		  <li role="presentation"><a href="#search" aria-controls="search" role="tab" data-toggle="tab">查询信息</a></li>
		  <li role="presentation"><a href="#addtion" aria-controls="addtion" role="tab" data-toggle="tab">查看报修</a></li>
		</ul>
	</div>

	<!-- 标签页 -->
	<div id="content" class="tab-content">
		<!-- 首页 -->
		<div id="home" class="panel panel-default tab-pane active" role="tabpanel">
			<div class="panel-heading">
				<h4 class="panel-title">首页</h4>
			</div>
			<div class="panel-body">
				<p>something to read</p>
			</div>
			<form>
				
			</form>
		</div>


		<!-- 发布通知（标准做法） -->
		<div id="publish" class="tab-pane" role="tabpanel">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">发布通知</h4>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" id="releaseForm">
						<div class="form-group">
							<label for="inputTitle" class="col-sm-2 control-label">
								标题
							</label>
							<div class="col-sm-4">
								<input type="text" name="inputTitle" id="inputTitle" class="form-control" placeholder="请输入标题" required>
							</div>
						</div>
						<div class="form-group">
							<label for="auther" class="col-sm-2 control-label">
								作者
							</label>
							<div class="col-sm-4">
								<input type="text" name="auther" id="auther" class="form-control" placeholder="请输入发布单位" required>
							</div>
						</div>
						<div class="form-group">
							<label for=" contents" class="sr-only control-label">
								通知内容
							</label>
							<div class="col-sm-offset-2 col-sm-8">
								<textarea name="contents" id="contents" class="form-control" placeholder="请输入发布内容..." style="min-height: 250px;" required></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-2">
								<button id="release" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-share-alt"></span> 发布</button>
							</div>
						</div>
					</form>
				</div>
				
			</div>
		</div>


		<!-- 来访登记 -->
		<div id="visit" class="tab-pane panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">来访登记</h4>
			</div>
			<div class="panel-body">
				<div class="visitInfo">
					<form id="frmVisit" class="form-inline">
						<div class="form-group col-sm-3">
							<label for="visitName">姓名</label>
							<input type="text" name="visitName" id="visitName" class="form-control">
						</div>
						<div class="form-group col-sm-3">
							<label for="visitSex">性别</label>
							<input type="text" name="visitSex" id="visitSex" class="form-control" autocomplete="foo">
						</div>
						<div class="form-group col-sm-3">
							<label for="visitDate">来访日期</label>
							<input type="date" name="visitDate" id="visitDate" class="form-control">
						</div>
						<div class="form-group col-sm-3">
							<button type="button" class="btn btn-primary" id="find">
								<span class="glyphicon glyphicon-search"></span> 查询
							</button>
							<button type="reset" class="btn btn-warning" id="clean">
								<span class="glyphicon glyphicon-trash"></span> 重置
							</button>
						</div>
						
					</form>
				</div>
				<div>
					<table id="visitTable"></table>
					<div id="toolbar">
						<button type="button" class="btn btn-primary" id="record">
							<span class="glyphicon glyphicon-pencil"></span> 登记
						</button>
					</div>
					<!-- 登记模态窗 -->
					<div class="modal fade" id="recordModal" tabindex="-1" role="dialog" aria-labelledby="recordInfo" aria-hidden="true">
					    <div class="modal-dialog">
					        <div class="modal-content">
					            <div class="modal-header">
					                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					                <h4 class="modal-title" id="recordInfo">登记来访人员信息</h4>
					            </div>
					            <div class="modal-body">
					            	<form class="form-horizontal" id="frmRecord">
					            		<div class="form-group">
					            			<label for="name" class="col-sm-2 col-sm-offset-3 control-label">姓名</label>
					            			<div class="col-sm-4">
					            				<input type="text" name="name" id="name" class="form-control" required>
					            			</div>
					            		</div>
					            		<div class="form-group">
					            			<label for="sex" class="col-sm-2 col-sm-offset-3 control-label">性别</label>
					            			<div class="col-sm-4">
					            				<label class="radio-inline">
				                                    <input type="radio" name="sex" id="recordMale" value="男" checked> 男
				                                </label>
				                                <label class="radio-inline">
				                                    <input type="radio" name="sex" id="recordFemale" value="女"> 女
				                                </label>
					            			</div>
					            		</div>
					            		<div class="form-group">
					            			<label for="reason" class="col-sm-2 col-sm-offset-3 control-label">来访事由</label>
					            			<div class="col-sm-4">
					            				<textarea name="reason" id="reason" class="form-control"></textarea>
					            			</div>
					            		</div>
					            		<div class="form-group">
					            			<label for="date" class="col-sm-2 col-sm-offset-3 control-label">来访时间</label>
					            			<div class="col-sm-4">
					            				<input type="date" name="date" id="date" class="form-control" required>
					            			</div>
					            		</div>
					            		<div class="form-group">
					            			<label for="contact" class="col-sm-2 col-sm-offset-3 control-label">联系方式</label>
					            			<div class="col-sm-4">
					            				<input type="tel" name="contact" id="contact" class="form-control">
					            			</div>
					            		</div>
					            	</form>
					            </div>
					            <div class="modal-footer">
					                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					                <button id="record_ok" type="button" class="btn btn-primary">提交</button>
					            </div>
					        </div><!-- /.modal-content -->
					    </div><!-- /.modal -->
					</div>
				</div>
			</div>
		</div>


		<!-- 查询信息 -->
		<div id="search" class="tab-pane panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">查询信息</h4>
			</div>
			<div class="panel-body">
				<div class="searchConditions">
					<form id="frmConditions" class="form-inline">
						<div class="form-group col-sm-3">
							<label for="id">学号</label>
							<input type="text" name="id" id="id" class="form-control">
						</div>
						<div class="form-group col-sm-3">
							<label for="name">姓名</label>
							<input type="text" name="name" id="sname" class="form-control">
						</div>
						<div class="form-group col-sm-3">
							<label for="sex">性别</label>
							<input type="text" name="sex" id="sex" class="form-control" autocomplete="foo">
						</div>
						<div class="form-group col-sm-3">
							<label for="college">学院</label>
							<select name="college" id="college" class="form-control">
								<option value="">---请选择学院---</option>
								<option value="信息学院">信息学院</option>
								<option value="数学与统计学院">数学与统计学院</option>
								<option value="金融学院">金融学院</option>
								<option value="艺术学院">艺术学院</option>
								<option value="外国语学院">外国语学院</option>
								<option value="人文学院">人文学院</option>
								<option value="地理与旅游学院">地理与旅游学院</option>
								<option value="继续教育学院">继续教育学院</option>

							</select>
						</div>
						<div class="form-group col-sm-3">
							<label for="building">楼栋</label>
							<select name="building" id="building" class="form-control">
								<option value="">---请选择宿舍楼号---</option>
								<option value="17栋">17栋</option>
								<option value="18栋">18栋</option>
								<option value="19栋">19栋</option>
								<option value="21栋">21栋</option>
								<option value="22栋">22栋</option>
								<option value="23栋">23栋</option>
								<option value="25栋">25栋</option>
								<option value="28栋">28栋</option>
								<option value="29栋">29栋</option>
								<option value="30栋">30栋</option>
								<option value="31栋">31栋</option>
								<option value="化一">化一</option>
								<option value="化二">化二</option>
							</select>
						</div>
						<div class="form-group col-sm-3">
							<label for="room">房间</label>
							<input type="text" name="room" id="room" class="form-control">
						</div>
						<button type="button" class="btn btn-primary" id="query"><span class="glyphicon glyphicon-search"></span> 查询</button>
						<button type="button" class="btn btn-primary" id="add"><span class="glyphicon glyphicon-plus"></span> 增加</button>
						<button type="reset" class="btn btn-warning" id="reset"><span class="glyphicon glyphicon-trash"></span> 重置</button>
					</form>
				</div>
				<div>
					<table id="searchTable"></table>
					<!-- 修改 模态窗 -->
					<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editInfo" aria-hidden="true">
					    <div class="modal-dialog">
					        <div class="modal-content">
					            <div class="modal-header">
					                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					                <h4 class="modal-title" id="editInfo">修改入住学生信息</h4>
					            </div>
					            <div class="modal-body">
					            	<form class="form-horizontal" id="frmEdit">
					            		<div class="form-group">
					            			<label for="editId" class="col-sm-2 col-sm-offset-3 control-label">学号</label>
					            			<div class="col-sm-4">
					            				<input type="text" name="editId" id="editId" class="form-control" readonly>
					            			</div>
					            		</div>
					            		<div class="form-group">
					            			<label for="editName" class="col-sm-2 col-sm-offset-3 control-label">姓名</label>
					            			<div class="col-sm-4">
					            				<input type="text" name="editName" id="editName" class="form-control">
					            			</div>
					            		</div>
					            		<div class="form-group">
					            			<label for="editSex" class="col-sm-2 col-sm-offset-3 control-label">性别</label>
					            			<div class="col-sm-4">
					            				<label class="radio-inline">
				                                    <input type="radio" name="editSex" id="editMale" value="男"> 男
				                                </label>
				                                <label class="radio-inline">
				                                    <input type="radio" name="editSex" id="editFemale" value="女"> 女
				                                </label>
					            			</div>
					            		</div>
					            		<div class="form-group">
					            			<label for="editCollege" class="col-sm-2 col-sm-offset-3 control-label">学院</label>
					            			<div class="col-sm-4">
					            				<select name="editCollege" id="editCollege" class="form-control">
													<option value="信息学院">信息学院</option>
													<option value="数学与统计学院">数学与统计学院</option>
													<option value="金融学院">金融学院</option>
													<option value="艺术学院">艺术学院</option>
													<option value="外国语学院">外国语学院</option>
													<option value="人文学院">人文学院</option>
													<option value="地理与旅游学院">地理与旅游学院</option>
													<option value="继续教育学院">继续教育学院</option>
												</select>
					            			</div>
					            		</div>
					            		<div class="form-group">
					            			<label for="editBuilding" class="col-sm-2 col-sm-offset-3 control-label">楼栋</label>
					            			<div class="col-sm-4">
					            				<select name="editBuilding" id="editBuilding" class="form-control">
													<option value="17栋">17栋</option>
													<option value="18栋">18栋</option>
													<option value="19栋">19栋</option>
													<option value="21栋">21栋</option>
													<option value="22栋">22栋</option>
													<option value="23栋">23栋</option>
													<option value="25栋">25栋</option>
													<option value="28栋">28栋</option>
													<option value="29栋">29栋</option>
													<option value="30栋">30栋</option>
													<option value="31栋">31栋</option>
													<option value="化一">化一</option>
													<option value="化二">化二</option>
												</select>
					            			</div>
					            		</div>
					            		<div class="form-group">
					            			<label for="editRoom" class="col-sm-2 col-sm-offset-3 control-label">房间号</label>
					            			<div class="col-sm-4">
					            				<input type="text" name="editRoom" id="editRoom" class="form-control">
					            			</div>
					            		</div>
					            	</form>
					            </div>
					            <div class="modal-footer">
					                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					                <button id="edit_ok" type="button" class="btn btn-primary">提交</button>
					            </div>
					        </div><!-- /.modal-content -->
					    </div><!-- /.modal -->
					</div>
				</div>
				
			</div>
		</div>
		

		<!-- 附加功能 -->
		<div id="addtion" class="tab-pane panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">未处理的报修申请</h4>
			</div>
			<div class="panel-body">
				<table id="handleTable"></table>
			</div>
		</div>

	</div>









	<script src="../public/js/jquery-3.2.1.js"></script>
	<script src="../public/js/bootstrap.min.js"></script>
	<script src="../public/js/bootstrap-table.js"></script>
	<script src="../public/js/managerRole.js"></script>
</body>
</html>