		

		/*通知面板标题*/
		.notification
		{
			display: inline-block;
			margin-left: 8px;
		}

		/*通知面板更多*/
		.noticeMore
		{
			float: right;
			clear: left;
		}

		/*控制轮播图和通知列表位置的*/
		/*#home .panel-body div:nth-child(1)
		{
			display: -webkit-flex;
			display: flex;
          	-webkit-justify-content: space-around;
          	justify-content: space-around;
		}*/
		.flex-div
		{
			display: -webkit-flex;
			display: flex;
          	-webkit-justify-content: space-around;
          	justify-content: space-around;
          	-webkit-flex-direction: row;
          	flex-direction: row;
		}


		/*轮播图容器、通知列表容器大小*/
		.carouselContainer,.noticeContainer
		{
			width: 45%;
			height: 40%;
		}



		/*通知列表字体*/
		#noticeList ul
		{
			font-size: 16px;
		}


		/*各项通知*/
		.noticeMore a
		{
			color: #000;
			margin-right: 8px;
		}

		/*通知公告的时间显示*/
		li span.time
		{
			float: right;
			margin-right: 8px;
		}



		/*警示文字*/
		.warningLetter
		{
			color: red;
		}


		


		
		.newHeading
		{
			display: none;			/*隐藏具体通知时的新panel-heading*/
		}

		#showNotice
		{
			display: none;			/*先隐藏包含显示通知全部内容的panel-body*/		
		}

		#showTitle
		{
			text-align: center;
		}

		#showBody
		{
			width: 50%;
			margin: 0 auto;
		}


		#showAuther
		{
			float: right;
		}

		#showTime
		{
			clear: right;
			float: right;
		}