		

		/*通知面板标题*/
		.notification
		{
			display: inline-block;
			margin-left: 8px;
		}

		/*通知面板更多*/
		.noticeMore
		{
			float: right;
			clear: left;
		}

		/*各项通知*/
		.noticeMore a
		{
			color: #000;
			margin-right: 8px;
		}

		/*通知公告的时间显示*/
		li span.time
		{
			float: right;
			margin-right: 8px;
		}


		/*警示文字*/
		.warningLetter
		{
			color: red;
		}


		/*图片大小*/
		div#carousel-example-generic
		{
			width: 595px;
			height: 446px;
		}


		/*先隐藏包含显示通知全部内容的panel-body*/
		.newHeading
		{
			display: none;
		}

		#showNotice
		{
			display: none;
			text-align: center;
		}

		#showTitle
		{
			text-align: center;
		}

		#showBody
		{
			/*width: 750px;*/
			width: 75%;
			height: auto;
			margin: 0 auto;
		}

		#showContents
		{
			/*text-align: center;*/
		}

		#showAuther
		{
			float: right;
		}

		#showTime
		{
			clear: right;
			float: right;
		}